<%= simple_form_for artist, remote: true do |f| %>
  <h2>Style</h2>
  <div class="p-3">
    <%= f.input :color_palette, collection: [1, 2, 3] %>
    <%= f.input :shape, collection: {"Plain" => 'plain', "Angular" => 'angular', "Curved" => 'curved'} %>
  </div>
  <h2>Content</h2>
  <div class="p-3">
    <%= f.input :super_title %>
    <%= f.input :title %>
    <%= f.input :description %>
    <%= f.input :button_text %>
  </div>
  <div class="border-bottom-light-gray mb-3"></div>
  <div class="p-3">
    <%= f.button :submit, "Save" %>
  </div>
<% end %>
