<%= simple_form_for artist, remote: true do |f| %>
  <h2>Layout Style</h2>
  <div class="p-3">
    <%= f.input :layout, collection: [1, 2, 3] %>
  </div>
  <h2>Banner Content</h2>
  <div class="p-3">
    <%= render 'shared/photo_uploader', f: f, field: :video, show_label: true %>
    <%= f.input :quotation %>
    <%= f.input :quotation_caption %>
  </div>
  <h2>Page Content</h2>
  <h3>About Me</h3>
  <div class="p-3">
    <%= f.input :about_me, label: false %>
  </div>
  <h2>Resume</h2>
  <div id="resume-blocks-fields">
    <%= f.simple_fields_for :resume_blocks do |block| %>
      <%= render 'resume_block_fields', f: block %>
    <% end %>
    <div class="pl-3 pr-3 pb-3">
      <%= link_to_add_association '+ Add block', f, :resume_blocks, class: 'button-tertiary w-100' %>
    </div>
  </div>
  <div class="border-bottom-light-gray mb-3"></div>
  <div class="p-3">
    <%= f.button :submit, "Save" %>
  </div>
<% end %>
