<div class="carousel-wrapper w-100 flex-center" style="height: <%= height %>px;">
    <%= image_tag "laptop.svg", class: "position-absolute carousel-overlay drag-disable", style: "height: #{height + 30}px;" if laptop %>
    <div class="carousel w-100 <%= "carousel-laptop" if laptop %>" data-initial=<%= initial %>>
    <% images.each do |image| %>
      <%= image_tag image, class: 'carousel-cell carousel-image', height: height %>
    <% end %>
  </div>
</div>
