<header class="header" data-controller="header" data-header-hidden="<%= @hidden_logo ? true : false %>" data-action="scroll@window->header#showLogo" data-target="header.header">
  <div class="image d-flex justify-content-between w-100">
    <%= link_to root_path do %>
      <%= image_tag 'logo-header.svg', class: "logo #{'transparent' if @hidden_logo}", 'data-target': 'header.logo' %>
    <% end %>
    <ul class="navbar-items d-sm-flex d-none">
      <li><%= link_to "Home", root_path, class: "#{'active' if current_page?(root_path)}" %></li>
      <li><%= link_to "Artists", artists_path , class: "#{'active' if current_page?(artists_path)}"%></li>
    	<li>
    		<div class="dropdown">
			  <a id="dropdownMenuButton" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			    About us  <i class="fas fa-caret-down"></i>
			  </a>
			  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <%= link_to "Who We Are", about_path, class: "dropdown-item #{'active' if current_page?(about_path)}" %>
          <%= link_to "Contact", contact_path, class: "dropdown-item #{'active' if current_page?(contact_path)}" %>
          <%= link_to "News", news_posts_path, class: "dropdown-item #{'active' if current_page?(news_posts_path)}" %>
			  </div>
			</div>
		</li>
    </ul>
  </div>
  <%= render 'shared/navbar' %>
</header>
