<%= render 'shared/banner_carousel_wrapper' do %>
  <%= render 'shared/banner_carousel_content', title: "coming fall 2019", header: "Welcome to Artyque ", text: "We are a digital agency and platform aiming to create a European network for emerging artists, galleries and collectors to collaborate and grow together.", button: { label: "Learn More", path: "#mission" }, image: "h_img_artist.png", subtitle: "for artists" %>
  <%= render 'shared/banner_carousel_content', title: "coming fall 2019", header: "Support, Growth, Opportunities", text: "We assist artists, provide tools for galleries, and turn the new collectors into wise tastemakers.", button: { label: "Learn More", path: "#mission" }, image: "h_img_gallery.png", subtitle: "for galleries" %>
  <%= render 'shared/banner_carousel_content', title: "coming fall 2019", header: "Your art consultant", text: "Join us, be part of the change", button: { label: "Learn More", path: "#mission" }, image: "h_img_collector.png", subtitle: "FOR ART COLLECTORS" %>
<% end %>

<div id="mission"></div>
<%= render 'shared/line_intro' %>
<%= render 'shared/cards' %>

<div class="laptop-carousel-wrapper">
	<div class="container">
		<div class="col intro-laptop">
			<h4 class="title">We represent</h1>
			<h2 class="color c-blue">Artists</h2>
		</div>
	</div>
  <%= render 'shared/carousel', laptop: true, initial: 1, height: 350, images: %w[
  screen_a.png
  screen_b.png
  screen_c.png
] %>
	<br>
	<div class="container">
		<div class="col text-center cta-laptop">
      <%= link_to "Get in Touch", contact_path, class: "button-primary" %>
		</div>
	</div>
</div>

<div id="about"></div>
<%= render 'shared/about_section' %>
