<div class="wrapper-banner">
	<div class="banner-content banner-carousel bg-blue-gradient">
		<%= image_tag "top_wave.svg", class: "home-wave-top wave-top position-absolute drag-disable" %>
	    <%= image_tag "bottom_wave.svg", class: "wave-bottom position-absolute drag-disable" %>
		<div class="w-100 m-0 p-0">
		  <div class="row">
		    <div class="col-23 col-sm-6 home-banner position-relative d-sm-flex align-items-center">
		      	<%= image_tag "banner-logo.svg", class: "logo-works" %>
		      </div>
		  	<div class="col-12 col-sm-6">
		  	</div>
		    </div>
		  </div>
		</div>
	</div>
</div> 
<%= render "shared/featured_artist" %>
<%= render "shared/quote_block" %>
<%= render 'shared/featured_artworks' %>
<%= render "shared/featured_stories" %>

