<div class="p-3">
  <%= f.input :title %>
  <%= f.input :description %>
  <%= f.input :url %>
  <%= f.input :year %>
  <label for="photo">Photo</label>
  <%= render 'shared/photo_uploader', f: f %>
</div>
<div class="border-bottom-light-gray mb-3"></div>
<div class="p-3">
  <%= f.button :submit, "Save" %>
</div>
