<div class="p-3">
  <%= f.input :title %>
  <%= f.input :description %>
  <%= f.input :url %>
  <%= f.input :year %>
  <%= f.input :photo %>
</div>
<div class="border-bottom-light-gray mb-3"></div>
<div class="p-3">
  <%= f.button :submit, "Save" %>
</div>
